/* Hero Section */
.moviesite-hero {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('lalaland-hero2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 5rem;
    font-family: "Oswald", sans-serif;
}

/* Movie Details Section */
.movie-details {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #111540;
}

.movie-info {
    max-width: 60%;
}

.movie-info h2 {
    font-size: 10rem;
    color: white;
    font-family: "Oswald", sans-serif;
    margin: 0px;
}

.movie-info h3 {
    font-size: 4rem;
    color: white;
    font-family: "Oswald", sans-serif;
}

.movie-info p {
    font-size: 3rem;
    color: white;
    font-family: "Oswald", sans-serif;
}

.movie-meta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-meta strong {
    font-size: 4rem;
    color: white;
    font-family: "Oswald", sans-serif;
}

.movie-meta p {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
}

.booking-btn {
background: linear-gradient(90deg, #d4af37, #f8e473);
color: #000;
font-size: 1.2rem;
font-weight: bold;
width: 40%;
padding: 10px 20px;
border: 2px solid #d4af37;
border-radius: 5px;
cursor: pointer;
text-transform: uppercase;
transition: all 0.3s ease-in-out;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



/* Trailer Section */
.trailer-section {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #0b0d25;
}

.trailer, .gallery {
    position: relative;
    width: 45%;
}

.trailer-img {
    width: 100%;
    border-radius: 1px;
}

.trailer-btn {
    position: absolute;
    bottom: 15%;
    left: 10%;

    background: linear-gradient(90deg, #d4af37, #f8e473);
color: #000;
font-size: 1.2rem;
font-weight: bold;
width: 40%;
padding: 10px 20px;
border: 2px solid #d4af37;
border-radius: 5px;
cursor: pointer;
text-transform: uppercase;
transition: all 0.3s ease-in-out;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Desktop */
@media only screen and (min-width: 992px)





