/* Movie Details Section */

.moviesite-hero {
    position: relative;
    width: 100%;
    height: 80vh; /* Du kan justera höjden beroende på din design */
    background-image: url('lalaland-hero2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-text {
    position: absolute;
    top: 20px; /* Justera texten från toppen av .moviesite-hero */
    left: 20px; /* Justera texten från vänstra kanten */
    color: white; /* Textfärg */
    font-size: 5rem; /* Justera storleken på texten */
    font-family: "Oswald", sans-serif;
}

.movie-details {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #111540;
}

.movie-info h2 {
    font-size: 10rem;
    color:white;
    font-family: "Oswald", sans-serif;
    margin:0px;

}

.movie-info h3 {
    font-size: 4rem;
    color:white;
    font-family: "Oswald", sans-serif;


}

.movie-info p {
    font-size: 2rem;
    color:white;
    font-family: "Oswald", sans-serif;

}

.movie-meta strong {
    font-size: 4rem;
    color:white;
    font-family: "Oswald", sans-serif;
    
}

.movie-details p {
    font-size: 2rem;
}

.movie-info {
    max-width: 60%;
}

.booking-btn {
    padding: 10px 20px;
    background-color: #ffc107;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.movie-meta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trailer-section {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #0b0d25;
}

.trailer, .gallery {
    position: relative;
    width: 45%;
}

.trailer img, .gallery img {
    width: 100%;
    border-radius: 10px;
}

.trailer-btn {
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 10px 20px;
    background-color: #ffc107;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}


