/* Logo */
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");

body {
  background-color: black;
}

.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo b {
  font: 400 19vh "Neonderthaw";
  color: #e7b323;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}


/* Main */

.movies {
    background-color: green;
}