* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  height: 20vh;
  background-color: black;
  display: flex
}

/* Logo */
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");

.logo {
  width: 25rem;
  height: 10rem;
  margin: 1rem;
}

.logo b {
  font: 5rem "Neonderthaw";
  color: #e7b323;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}


/* Main */

.movies {
    background-color: green;
}
