@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Neonderthaw&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --black: #000000;
  --dark-purple: #000437;
  --medium-purple: #1B1468;
  --light-purple: #4D2BAF;
  --gold: #E7B323;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #000000;
}

h2 {
  font-size: 4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  height: 20vh;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}

nav {
  margin-top: 4rem;
  margin-right: 5rem;
  display: flex;
  gap: 2rem;
}

nav p {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav p:hover {
  text-decoration: underline;
}

p {
  color: white;
}

/* Logo */
.logo {
  margin-top: 2rem;
  margin-left: 3rem;
}

.logo b {
  font-family: "Neonderthaw";
  font-style: normal;
  font-size: 7rem;
  color: #e7b323;
  text-shadow: 0 0 0.5em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444,
    0 15px 3px #000;
}

/* Curtains */
.curtain {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50vw;
  background-color: #000437;
  z-index: 10;
  background-image: repeating-linear-gradient(
    90deg,
    #000437,
    #000437 30px,
    #4a1f62,
    #4a1f62 40px
  );
  transition: transform 2.5s ease;
}

.curtain.left {
  left: 0;
  transform: translateX(0);
}

.curtain.right {
  right: 0;
  transform: translateX(0);
}

.curtain.open.left {
  transform: translateX(-100%);
}

.curtain.open.right {
  transform: translateX(100%);
}

/* Hero */
.hero {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1612934622902-d3ad43c407b9?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Main */

main {
  background-color: var(--dark-purple);

}
.movies-h2 {
  margin-top: 5rem;
  margin-left: 3rem;
  color: var(--white);
  
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  
}

.movie {
  background-color: blue;
  width: 15rem;
  height: 22rem;
  margin: 2rem;
}

/* Footer */
footer {
height: auto;
background-color: #000000;
justify-content: space-between;
display: flex;
align-items:center;

}

.foot-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 5rem;
  align-items: center;
}

.footer-nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.footer-nav li {
  color: white;
  font-family: "Oswald", sans-serif;
  list-style-type: none;
  font-weight: 400;
  margin-bottom: 0;
}

.footer-nav p {
  display: flex;
  padding: 0rem;
  margin: 0.3rem;
  font-size: 2rem;


}

.footer-nav h2 {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  margin: 0.3rem;

}

/* Fonts */
.neonderthaw-regular {
  font-family: "Neonderthaw", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
